@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --chakra-colors-chakra-body-bg: #000 !important;
}

::-webkit-scrollbar {
  width: 10px;
  background: #000;
}

html[data-theme="light"] {
  ::-webkit-scrollbar {
    background: #fff;
  }
}

::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #171717;
  border-radius: 3px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .intense-button {
    @apply dark:bg-neutral-900 bg-neutral-200 dark:font-normal font-semibold rounded-md px-6 py-2 hover:opacity-75 transition-all;
  }
  .thin-button {
    @apply border-[1px] border-neutral-900 bg-transparent rounded-md px-[23px] py-[7px] transition-all hover:bg-neutral-900 text-neutral-50;
  }
}

.svg {
  animation: svg 3s ease-in-out 2s 2 alternate;
  transform: rotate(12deg);
}

@keyframes svg {
  0% {
    transform: rotate(12deg);
  }
  66% {
    transform: rotate(9deg);
  }
  100% {
    transform: rotate(12deg);
  }
}
